@textyellow: #ED9128;

.textWaring{
  color: #F79A33;
}

.boxSizing(){
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.borderRadius(@radius: 5px){//参数默认5px
 -webkit-border-radius:@radius;
 -moz-border-radius:@radius;
 -ms-border-radius:@radius;
 -o-border-radius:@radius;
 border-radius:@radius;
}

.public_circle(@color: #CAD879){
  height: 100%;
  width: 16px;
  position: relative;
  >.incircle{
    width: 16px;
    height: 16px;
    .borderRadius(50%);
    border: 1px solid @color;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    >.circleSolid{
      width: 14px;
      height: 14px;
      background-color: @color;
      .borderRadius(50%);
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}