// reset ProjectMan
.el-table{
  font-size: 14px;
  
}

.el-table__expand-icon{
  color: #F79A33;
}

.el-table th,.el-table__header-wrapper thead div{
  background-color: #f8f8f8;
}

.el-table_1_column_16 .cell{
  color: #45AEAB;
}

.el-table .cell, .el-table th{
  font-weight: normal;
}

.el-table .cell, .el-table th>div{
  padding-left: 5px;
  padding-right: 5px;
}

.el-table__expanded-cell{
  padding: 0 0 0 30px;
  background-color:#FCF1E5;
  overflow-x: hidden;
  .special{
    div{
      color: #45AEAB;
    }
  }
}

.table-expand .el-table__body-wrapper{
  overflow-x: visible;
}

.table-expand .el-table__body-wrapper::-webkit-scrollbar{
  display: none;
}

.table-expand tr{
    background-color: #FCF1E5;
    td{
      border-color:  #F5C691;
    }
}
.table-expand tr:last-child{
  td{
    border-bottom: 2px solid #F5C691;
  }
}
